Widget upgrade and asset scanning

Make sure that widget upgrade and asset scanning do not interfere:

- Asset scanning might change the directory name of a web widget when updating it to a UUIDv5 without changing the content..
- Widget upgrade might change the content of a widget directory without changing its name.

At least those two must not interfere. Currently widget upgrade is started when opening a document. At this point in time background asset scanning might be in progress.

- We should make sure that widget upgrade happens before asset scanning. Then also the UUID will finally match the content.
- In the future we should also make sure that we change the directory name when the content of the widget directory changes so that the relationship between content and media asset UUID remains intact.

Currently, the `UBWidgetUpgradeAdaptor` just goes through the directories in the widget directory and analyzes each widget. For this it does not have to know which page is using it. However it also must not rename it in this stage.

With TOC, it could probably invalidate the assets entry for all pages which already refer to that widget. This would force asset scanning for those pages later, which then correctly handles the renaming.

This problem lets me re-think about the media asset UUID for widgets, and about the id for widgets created from a web page. Some points for consideration:

- For widgets created from a web page currently the web page's title is used to create the id. This is however most probably not unique. We should change that. Proposals:
  - [ ] Use the URL of the web page as widget id.
  - [ ] Use a UUID created from the URL of the web page as widget id. But I don't see the benefit.
  - [ ] We could however use this UUID as the folder name instead of the web page title for a newly generated web widget in the `interactive content` directory.
- For the media asset UUID we currently use all files in the widget directory excluding subdirectories. This means that this UUID would have to change when the directory content changes, i.e. after a widget update. We should find some mechanism to keep the media asset UUID even after a widget update.
  - [ ] Let's assume that the widget ids are unique now! We already worked a lot in this direction and should now be able to take this as given.
  - [ ] We could then just create a UUIDv5 from the widget id. This would even mean that if you create such an widget 

Then we would have a media asset UUID which does not change with a widget update. It then does not matter in what sequence we apply asset scanning and widget update. They could even be parallel. sounds very promising!

This is now a nice solution for newly created web widgets. But what about existing ones? There are two options:

- [ ] Modify them to use the URL of the web page as widget id. You could identify them from the id. It starts with `http://uniboard.mnemis.com/`, but not with `http://uniboard.mnemis.com/widgets/`. And you would have to extract the target URL from the `html` file.
- [ ] Keep it as it is. Changing does not help much for existing widgets. It only makes it better in the future.

I prefer the second option. It's much easier, and you won't lose much.

We have web widgets which just redirect to a URL. Those are created by `UBEmbedController::generateFullPageHtml()` and for those the discussion above is valid.

We have however also other web widgets which are generated from the snippet extracted by the embed parser. Those are generated by `UBEmbedController::generateHtml()` and they consist of a generated web page with some HTML inserted. Such web widgets don't have a specific URL, so we cannot apply the mechanism for creating the id and UUID as proposed above.

Actually we're not sure what information we get from the `UBEmbedParser`. The only information which must be present is the `HTML` code. And we can also be sure that two widgets with the same HTML refer to the same web content. So the only option we have is to create both, the id and the UUID from the HTML. This means:

- [ ] For embed web widgets, create the id as UUIDv5 from the HTML code. Prefix the UUID (no curly braces) by `urn:uuid:` to make it a URI. See [RFC4122, section 3](https://www.rfc-editor.org/rfc/rfc4122#section-3).
- [ ] Use the same UUID also for the UUID of the widget.
- [ ] Again no changes to existing widgets.